[submodule "Simple_RAG"]
	path = Simple_RAG
	url = https://github.com/gvtsch/Simple_RAG.git
[submodule "Agents_Limits"]
	path = Agents_Limits
	url = https://github.com/gvtsch/Agents_Limits.git
[submodule "Newsletter_generator"]
	path = Newsletter_generator
	url = https://github.com/gvtsch/Newsletter_generator.git
[submodule "Image_to_recipe"]
	path = Image_to_recipe
	url = https://github.com/gvtsch/Image_to_recipe.git
